footer{
    color: white;
}

footer button{
    background-color: #6b8853;
}

.btn-success{
    background-color: #6b8853;
}

.bi-twitter, .bi-facebook, .bi-whatsapp{

    font-size: 2rem; color: white;
}