@media only screen and (max-width:599px){

    .gridHoteles{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "imagenUno" 
        "imagenDos"
        "imagenTres";
    }

    .imagenUno{
        grid-area: imagenUno;
    }
    
    .imagenDos{
        grid-area: imagenDos;
    }
    
    .imagenTres{
        grid-area: imagenTres;
    }

    .gridDestinos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "destinoImagenUno" 
        "destinoDescripcionUno"
        "destinoImagenDos" 
        "destinoDescripcionDos"
        "destinoImagenTres"
        "destinoDescripcionTres";
    }

    .destinoImagenUno{
        grid-area: destinoImagenUno;
        background-color: #6b8853;
    }
    
    .destinoDescripcionUno{
        grid-area: destinoDescripcionUno;
        padding: 3rem;
        background-color: #6b8853;
        color: white;
    }
    
    .destinoImagenDos{
        grid-area: destinoImagenDos;
        border-top: #6b8853 1px solid;
        border-bottom: #6b8853 1px solid;
        background-color: #6b8853;
    }
    
    .destinoDescripcionDos{
        grid-area: destinoDescripcionDos;
        padding: 3rem;
        border-top: #000000 1px solid;
        border-bottom: #000000 1px solid;
        background-color: #6b8853;
        color: white;
    }
    
    .destinoImagenTres{
        grid-area: destinoImagenTres;
    }
    
    .destinoDescripcionTres{
        grid-area: destinoDescripcionTres;
        padding: 3rem;
        background-color: #6b8853;
        color: white;
    }

    .bannerDestinos{
        display: none;
    }

    .gridDestinos ul li{
        display: list-item;
        padding: 1rem;
        margin-top: 0;
        list-style-type: none;
        text-align: center;
    }

    .gridTestimonio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "testimonioImagenUno" 
        "testimonioDescripcionUno"
        "testimonioImagenDos" 
        "testimonioDescripcionDos"
        "testimonioImagenTres"
        "testimonioDescripcionTres";
    }

    .testimonioDescripcionUno, .testimonioDescripcionDos{
        margin-top: 0rem;
        border-bottom: #6b8853 1px solid;
        padding: 0rem;
    }

    .testimonioDescripcionTres{
        margin-top: 0rem;
        padding: 0rem;
    }

    .testimonioImagenUno{
        grid-area: testimonioImagenUno;
        padding: 3rem;
        border: none;
    }
    
    .testimonioDescripcionUno{
        grid-area: testimonioDescripcionUno;
        padding: 3rem;
        border-bottom: #6b8853 1px solid;
    }
    
    .testimonioImagenDos{
        grid-area: testimonioImagenDos;
        padding: 3rem;
        border: none;
    }
    
    .testimonioDescripcionDos{
        grid-area: testimonioDescripcionDos;
        padding: 3rem;
        border-bottom: #6b8853 1px solid;
    }
    
    .testimonioImagenTres{
        grid-area: testimonioImagenTres;
        padding: 3rem;
        
    }
    
    .testimonioDescripcionTres{
        grid-area: testimonioDescripcionTres;
        padding: 3rem;
    }
    



    .gridformReserva{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "formNombre"
        "formApellido"
        "formEmail" 
        "formOrigen"
        "formDestino"
        "formAdulto" 
        "formNino"
        "formFechaDesde"
        "formFechaHasta"
        "formBotones";
        font-size: 1rem;
    }

    .formNombre{
        grid-area: formNombre;
        padding: 1rem;
        
    }
    
    .formApellido{
        grid-area: formApellido;
        padding: 1rem;
        
    }
    
    .formEmail{
        grid-area: formEmail;
        padding: 1rem;
    }
    
    .formOrigen{
        grid-area: formOrigen;
        padding: 1rem;
        
    }
    
    .formDestino{
        grid-area: formDestino;
        padding: 1rem;
        
    }
    
    .formAdulto{
        grid-area: formAdulto;
        padding: 1rem;
        
    }
    
    .formNino{
        grid-area: formNino;
        padding: 1rem;
        
    }
    
    .formFechaDesde{
        grid-area: formFechaDesde;
        padding: 1rem;
        
    }
    
    .formFechaHasta{
        grid-area: formFechaHasta;
        padding: 1rem;
    }
    
    .formImgLateral{

        display: none;
        
    }
    
    .formBotones{
        grid-area: formBotones;
    }

    .gridFormContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "formContactoNombre"
        "formContactoApellido"
        "formContactoEmail" 
        "formContactoConsulta"
        "formContactoBotones";
    }

    .formContactoNombre{
        grid-area: formContactoNombre;
    }
    
    .formContactoApellido{
        grid-area: formContactoApellido;
    }
    
    .formContactoEmail{
        grid-area: formContactoEmail;
    }
    
    .formContactoImgLateral{
        display: none;
    }
    
    .formContactoConsulta{
        grid-area: formContactoConsulta;
    }
    
    .formContactoBotones{
        grid-area: formContactoBotones;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: inline;
    }

}