@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #B5B5B5
}

@mixin btnStyle {

    padding: 1rem;
    border-radius: 4px;
    background-color: #6b8853;
    text-align: center;
    
}

$list: red, green, yellow, blue;
@each $color in $list {
    .btn--#{$color} {
        background-color: $color;
    }
}

$redes:(
    twitter: #55acee,
    facebook: #3a5795,
    send-mail: #c25e30
);




/* -------------------HEADER--------------*/

@import "header";

/* -------------------INDEX--------------*/

@import "index";

/* --------------DESTINOS------------------*/

@import "destinos";

/* -------------------TESTIMONIOS--------------*/

@import "_testimonios.scss";

/* -------------------RESERVA------------*/

@import "reserva";

/* -------------------CONTACTO---------------*/

@import "contacto";

/* -------------------FOOTER-----------------*/

@import "footer";

/* -------MEDIA QUERIES VISTA MOBILE--------*/

@import "mobile";